*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  @media (max-width:364px) {
    font-size: 13px;
  }
  @media (min-width:365px) {
    font-size: 15px;
  }
  @media (min-width:408px) {
    font-size: 16px;
  }
}
body{
  width: 100%;
  height: 100vh;
  background-color: #303030;
  overflow-y: scroll;
  img{
    display: flex;
    max-width: 100%;
  }
  button{
    cursor: pointer;
  }
}

//vars//////
$color1:#FBD536;

////////////

.homepage{
  font-family: 'Roboto', sans-serif;
  background-color: white;
  position: relative;
  @media(max-width:450px) {
    width: 100%;
  }
  @media(min-width:451px) {
    width: 450px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
  }
  .p20{
    padding: 20px;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >.name{
      display: flex;
      align-items: center;
      gap: .8rem;
      font-size: .85rem;
      i{font-size: 1.35rem;cursor: pointer;}
    }
    >.imgs{
      display: flex;
      gap: 15px;
      img{
        width: 20px;
        height: 20px;
        aspect-ratio: 1;
        cursor: pointer;
      }
    }
  }
  .action{
    display: flex;
    gap: 12px;
    justify-content: center;
    button{
      width: 26%;
      padding: 5px 0;
      font-size: 1.2rem;
      font-weight: 600;
      background-color: #E6E8E7;
      &.active{background-color: $color1;}
      border: none;
      border-radius: 20px;
    }
  }
  .options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    padding-top: 23px;
    >div{
      width: 46.5%;
      aspect-ratio: 1.35;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 1;
      cursor: pointer;
      padding: 17px;
      padding-bottom: 13px;
      border-radius: 14px;
      box-shadow: -4px 4px 5px rgb(175, 175, 175);
      font-size: 1.08rem;
      img{
        max-width: 60%;
      }
    }
    .crypto{
      padding-top: 0;
      padding-left: 1px;
      p{padding-left: 17px;}
      background-color: #FDE686;
    }
    .bank{
      padding-top: 10px;
      background-color: #7678A6;
    }
    .social{
      color: white;
      background-color: #3B3561;
      img{width: 51%;}
    }
    .games{
      background-color: #78FECF;
    }
  }
  .offersCon{
    .order{
      display: flex;
      border-top: 1px solid rgb(211, 211, 211);
      border-bottom: 1px solid rgb(211, 211, 211);
      padding: 5px;
      padding-left: 7px;
      color: #303030;
      font-size: .9rem;
      font-weight: 500;
      span:nth-child(1){width: 30%;}
      span:nth-child(2){width: 30%;}
      span:nth-child(3){width: 20%;}
      span:nth-child(4){width: 20%;}
    }
    .offers{
      margin-bottom: 73px;
      .item{
        display: flex;
        margin-top: 10px;
        padding: 6px;
        padding-left: 7px;
        padding-bottom: 10px;
        height: 58px;
        @media (min-width:363px) {
          height: 63px;
        }
        border-bottom: 1px solid rgba(255, 217, 0, 0.623);
        >div{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .name{
          width: 30%;
          >span{
            font-size: 1.1rem;
            font-weight: 500;
          }
          >div{
            display: flex;
            align-items: center;
            gap: 3px;
            font-size: .9rem;
            font-weight: 500;
            color: rgb(85, 85, 85);
            img{
              width: 9px;
              height: 9px;
            }
          }
        }
        .title{
          width: 30%;
          font-weight: 500;
          .t-title{
            font-size: .92rem;
            color: #535353;
          }
          .t-fee{
            margin-left: 2px;
            padding: 3px 6px;
            font-size: .85rem;
            color: rgb(85, 85, 85);
            background-color: #ececec;
            width: fit-content;
            border-radius: 1px;
          }
        }
        .fee{
          width: 20%;
          >span{
            padding-left: 5px;
            font-size: 1rem;}
          >div{
            display: flex;
            flex-direction: row-reverse;
            button{
              background-color: #6C6D7F;
              border: none;
              width: fit-content;
              padding: .265rem .5rem;
              border-radius: 4px;
              font-size: .8rem;
              color: rgb(233, 233, 233);
            }
          }
        }
        .price{
          width: 20%;
          .p-price{
            font-size: 1.15rem;
            .currency{
              font-size: .8rem;
              color: rgb(0, 177, 0);
            }
          }
          .bank button{
            color: black;
            background-color: $color1;
          }
          .pubg button{
            color: black;
            background-color: #78FECF;
          }
          >div{
            display: flex;
            flex-direction: row-reverse;
            button{
              display: flex;
              width: fit-content;
              align-items: center;
              img{width: 1rem;height: 1rem;}
              background-color: #3B3561;
              border: none;
              padding: .19rem .6rem;
              border-radius: 4px;
              font-size: .8rem;
              gap: 6px;
              color: rgb(207, 207, 207);
            }
          }
        }
      }
    }
  }
  .bar{
    position: fixed;
    left: 50%;
    translate: -50%;
    bottom: 0;
    display: flex;
    width: 100%;
    max-width: 450px;
    justify-content: space-between;
    background-color: white;
    padding: 24px 30px;
    box-shadow: 0px 0 5px rgb(214, 214, 214);
    img{
      cursor: pointer;
      width: 22px;
    }
  }
}